SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="de17961fd074ea1196b5d944cf25bb41", SYMLINK+="Spyker_Interface_Port"

