SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="a44542efb69bea11846d10bfec257580", SYMLINK+="Spyker_Interface_Port"

